API_ID=
API_HASH=
SESSION_NAME=
BOT=бот который все запросы обрабатывает по сути
DB_PATH=tg_results.db

# Логирование
# по умолчанию - достаточно для контроля сохранения
# LOG_LEVEL=INFO
# больше деталей
LOG_LEVEL=DEBUG

# токен бота который получает файл и отправляет файл с результатами
TG_BOT_TOKEN=
# id чата в телеграмме куда будут отправляться результаты
ID_TG_CHAT=