# обязательные переменные для Telethon и основного пайплайна
API_ID=
API_HASH=
SESSION_NAME=
# основной бот который все запросы обрабатывает по сути
BOT=

# дополнительно для режима tg_file_pipeline_bot.py
TG_BOT_TOKEN=
ID_TG_CHAT=

# необязательные переменные

# уровень логов; по умолчанию INFO
LOG_LEVEL=INFO

# 0 - показывать окно браузера, 1 - работать скрыто; по умолчанию 1
PLAYWRIGHT_HEADLESS=1

# использовать ли прокси для Telethon и Telegram Bot API; по умолчанию false
USE_PROXY=false

# настройки прокси для Telethon и Telegram Bot API; используются только если USE_PROXY=true
PROXY_TYPE=socks5
PROXY_HOST=127.0.0.1
PROXY_PORT=10808

# пауза между шагами внутри обработки одной строки; по умолчанию 3
PIPELINE_STEP_DELAY_SECONDS=3

# пауза между строками входного файла; по умолчанию 5
PIPELINE_ROW_DELAY_SECONDS=5

# имя итогового csv-файла пайплайна; по умолчанию pipeline_results.csv
PIPELINE_RESULTS_CSV=pipeline_results.csv

# имя итогового xlsx-файла пайплайна; по умолчанию pipeline_results.xlsx
PIPELINE_RESULTS_XLSX=pipeline_results.xlsx